.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


div.brands{
    width: 95%;
    height: inherit;
    border: 1px solid lightgray;
    margin: auto;
}

div.brands>.titlebrand{
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


div.brands>.titlebrand> span{
    font-family: iranyekan;
    font-size: 20px;

}

.border-left{
    border-left: 1px solid lightgray;

}



