div.mainsupermarkt{
    width: 100%;
    height: 140px;
    padding: 15px  30px;
    box-sizing: border-box;
}

div.mainsupermarkt>div.supermarket{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #ECEFEF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;
}

div.mainsupermarkt>div.supermarket>div.right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;
}

div.mainsupermarkt>div.supermarket>div.right>div.box{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content:left;
    align-items:center;
}

div.mainsupermarkt>div.supermarket>div.right>div.amazingsupermarket{
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div.mainsupermarkt>div.supermarket>div.right>div.maindiscount{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


div.mainsupermarkt>div.supermarket>div.right>div.maindiscount>div.discount{
    width: 70%;
    height: 40px;
    background-color: #029A49;
    font-size: 13px;
    font-family: iranYekan;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
}

div.mainsupermarkt>div.supermarket>div.left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div.mainsupermarkt>div.supermarket>div.left>div.mainkala{
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div.mainsupermarkt>div.supermarket>div.left>div.mainkala>div.kala{
    width: 30%;
    height: 90%;
    object-fit: cover;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}


div.mainsupermarkt>div.supermarket>div.left>div.mainkala>div.kala>img{
    width: fit-content;
    height: 80%;
    border-radius: 50%;
}

div.mainsupermarkt>div.supermarket>div.left>div.mainkala70{
    width: fit-content;
    height: 30%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
}

div.mainsupermarkt>div.supermarket>div.left>div.mainkala70>div.kala70{
    font-size: 14px;
    font-family: iranYekan;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #029A49;
    font-weight: bold
}

div.mainsupermarkt>div.supermarket>div.left>div.mainkala70>div.kala70>svg{
    width: 20px;
    height: 20px;
    fill: #029A49;
}







